*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

#paragrafo{
     padding: 10px;
     padding-bottom: 300px;
     margin: 50px;
     width: 60%;
     
}

#censura{
     padding: 10px;
     width: 20%;
}