*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

#paragrafo{
     padding: 10px;
     padding-bottom: 300px;
     margin: 50px;
     min-width:  60%;
     word-break: break-all;
     overflow: hidden;
     
}

#censura{
     padding: 10px;
     width: 20%;
}